<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.txing.project.oj.mapper.TopicMapper">
    
    <resultMap type="Topic" id="TopicResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="tags"    column="tags"    />
        <result property="thumbNum"    column="thumb_num"    />
        <result property="favourNum"    column="favour_num"    />
        <result property="commentNum"    column="comment_num"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="imgs"    column="imgs"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTopicVo">
        select id, title, content, tags, thumb_num, favour_num, comment_num, user_id, create_time, update_time, is_delete, imgs, status, remark from tx_oj_topic
    </sql>

    <select id="selectTopicList" parameterType="Topic" resultMap="TopicResult">
        <include refid="selectTopicVo"/>
        <where>
            <if test="title != null  and title != ''">and title like concat('%', #{title}, '%')</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTopicById" parameterType="Long" resultMap="TopicResult">
        <include refid="selectTopicVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTopic" parameterType="Topic" useGeneratedKeys="true" keyProperty="id">
        insert into tx_oj_topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="tags != null">tags,</if>
            <if test="thumbNum != null">thumb_num,</if>
            <if test="favourNum != null">favour_num,</if>
            <if test="commentNum != null">comment_num,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="imgs != null">imgs,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="tags != null">#{tags},</if>
            <if test="thumbNum != null">#{thumbNum},</if>
            <if test="favourNum != null">#{favourNum},</if>
            <if test="commentNum != null">#{commentNum},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="imgs != null">#{imgs},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTopic" parameterType="Topic">
        update tx_oj_topic
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="thumbNum != null">thumb_num = #{thumbNum},</if>
            <if test="favourNum != null">favour_num = #{favourNum},</if>
            <if test="commentNum != null">comment_num = #{commentNum},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="imgs != null">imgs = #{imgs},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTopicById" parameterType="Long">
        delete from tx_oj_topic where id = #{id}
    </delete>

    <delete id="deleteTopicByIds" parameterType="String">
        delete from tx_oj_topic where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>